/* Navbar container styles */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10px; /* Adjust the width as per your requirement */
}

/* Logo styles */
.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem; /* Add margin-bottom for spacing */
}

/* Navigation links styles */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 1rem; /* Adjust the spacing between list items */
}

.nav-links li:hover {
  color: #61dafb;
}

.nav-links li.active {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}
