body {
  /* Define default font family, size, and color */
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: black;
  margin: 0;
  padding: 0;
}

/* Optionally, you can add other global styles here */

/* Media Queries */
/* Small screens */
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
}

/* Medium screens */
@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Large screens */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
